/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 92%; /* Aumentado para acomodar más temporizadores horizontalmente */
    max-height: 90vh;
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2em;
}

.input-section {
    margin: 0 auto 20px; /* Centra el bloque horizontalmente y mantiene el margen inferior */
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"] {
    width: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-transform: uppercase; /* Asegura que la entrada esté en mayúsculas */
    
}

/* From Uiverse.io by cssbuttons-io */ 
button {
 margin-top: 0.5em;   
 position: relative;
 border: none;
 background: transparent;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
}

.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: hsl(0deg 0% 0% / 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(125, 96%, 27%) 8%,
    hsl(147, 92%, 26%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
 display: block;
 position: relative;
 padding: 12px 27px;
 border-radius: 12px;
 font-size: 1.1rem;
 color: white;
 background: hsl(133, 94%, 35%);
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

button:hover {
 filter: brightness(110%);
}

button:hover .front {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
 transform: translateY(1px);
 transition: transform 34ms;
}

button:focus:not(:focus-visible) {
 outline: none;
}

#tipoVehiculoSelector {
    margin-bottom: 20px;
}

#tipoVehiculoSelector p {
    margin-bottom: 10px;
    color: #555;
}

#tipoVehiculoSelector button {
    width: 48%;
    display: inline-block;
}

#autoBtn {
    margin-right: 4%;
}

.vehicles-section {
    margin-top: 20px;
    display: flex;             /* Activa Flexbox */
    flex-wrap: wrap;           /* Permite que los elementos se envuelvan a la siguiente línea */
    gap: 18px;                 /* Espacio entre los elementos */
    justify-content: center;   /* Centra los elementos horizontalmente */
}

.vehicle {
    width: 23%;                /* Define el ancho para que dos elementos quepan en una fila */
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 15px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.vehicle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.vehicle-header h2 {
    font-size: 1.5em;
    color: #333;
}

.deleteBtn {
    background-color: #ee6c79;
    width: 40%;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.deleteBtn:hover {
    background-color: #dd4b5a;
}

/* Estilo para el contenedor del buscador */
.search-container {
    position: relative;
    width: 40px;
    transition: width 0.4s ease;
    overflow: hidden;
}

#searchButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

#searchInput {
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Espacio para el ícono */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.4s ease, width 0.4s ease;
}

/* Cuando se expanda el campo de búsqueda */
.search-container.active {
    width: 300px;
}

.search-container.active #searchInput {
    opacity: 1;
}



.timer {
    font-size: 3.0em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 7px;
    color: #333;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.controls button {
    width: 48%;
    padding: 8px;
    background-color: #dcf5d7;
    border: none;
    color: #080808;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.controls button:hover {
    background-color: #c5e0bf;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.controls .resetBtn {
    background-color: #9bb4fd;
}

.controls .resetBtn:hover {
    background-color: #88a4f1;
}

.controls .pauseBtn {
    background-color: #f8a08a;
}

.controls .pauseBtn:hover {
    background-color: #dfa373;
}

.controls .resumeBtn {
    background-color: #eee5d3;
}

.controls .resumeBtn:hover {
    background-color: #ebe3d4;
}

/* Nuevo estilo para la hora de creación */
.created-at {
    font-size: 0.9em;
    color: #777;
    text-align: center;
    margin-bottom: 10px;
    
}

.price{
    font-weight: 600;
    text-align: right;
    font-size: 1.2em;
    margin-bottom: 0.3em;
    
    
}
/* Media Queries para Responsividad */

/* Para pantallas más pequeñas, muestra un solo temporizador por fila */

@media (max-width: 960px) {
    .container {
        width: 90%; /* Ajusta el ancho del contenedor para pantallas pequeñas */
    }

    .vehicles-section {
        justify-content: center; /* Centra los elementos en pantallas pequeñas */
    }

    .vehicle {
        width: 40%;            /* Un solo elemento por fila */
    }

    #tipoVehiculoSelector button {
        width: 100%;            /* Ajusta los botones para pantallas pequeñas */
        margin-right: 0;
    }
}

@media (max-width: 600px) {

    .controls button {
        width: 95%;
        margin: auto;
    }

    .created-at {
        font-size: 0.8em;
       
        
    }

    h1 {

        font-size: 1.5em;
    }

    .input-section {
        margin: 0 auto 20px; /* Centra el bloque horizontalmente y mantiene el margen inferior */
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }



    .container {
        width: 100%; /* Ajusta el ancho del contenedor para pantallas pequeñas */
        max-height: 100vh;
    }

    .input-section {
        
       font-size: 1.1rem;
    }

    .vehicles-section {
        justify-content: center; /* Centra los elementos en pantallas pequeñas */
    }

    .vehicle {
        width: 100%;            /* Un solo elemento por fila */
    }

    #tipoVehiculoSelector button {
        width: 100%;            /* Ajusta los botones para pantallas pequeñas */
        margin-right: 0;
    }
}











